{
  "plugs": [
    {
      "id": "xxxxxxxxxxxxxxxxxxx",
      "key": "yyyyyyyyyy"
    }
  ],
  "api": {
    "key": "aaaaaaaaaaaaaaa",
    "secret": "bbbbbbbbbbbbbbbbbbbbbb"
  },
  "wifi": {
    "ssid": "uuuuuuuuuu",
    "password": "iiiiiiiiiiiii"
  }
}
